@media (max-width: 480px) {
  body{
    
    background-color: black;
  }
  .main {
    flex-direction: column;
    height: 100vh;
    background-color: black;
  }
  .container {
    margin-right: 0;
    margin-top: 4px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
  }

  #bg8 {
    display: none;
  }
  .bg1 {
    position: relative;
    background: url("https://source.unsplash.com/random/1080x1920");
    filter: grayscale(0.4);
    background-size: cover;
    background-attachment: fixed;
    height: 20rem;
  }
  .ab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    filter: blur(0.6);
    z-index: -1;
  }
  .bg1 > h1 {
    position: unset;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
  }
  .bg2 {
    background: url("https://source.unsplash.com/random/1080x1920");
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 20rem;
  }

  .logo {
    align-self: center;
    margin: 0;
    position: relative;
    filter: blur(0.5);
    background: url("https://source.unsplash.com/random/1920x1080");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .profile {
    margin-top: 8rem;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid black;
    /* background-image: url("https://source.unsplash.com/random/60x60"); */
  }
  .name {
    color: rgb(143, 143, 143);
    margin: 0;
    padding: 0.4rem 0;
    font-size: 1.2rem;
  }
  .email {
    font-size: 1.1rem;
    margin: 0;
    padding: 0.5rem 0;
  }
  .phone {
    color: rgb(77, 77, 77);
    margin-bottom: 0.4rem;
  }
  .ediv1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(184, 184, 184);
  }
  .ediv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(153, 153, 153);
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 60%;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    box-shadow: rgb(0, 0, 0);
  }
}

/*----------- small devices ------------- */
@media (max-width: 340px) {
  .contact {
    width: 80%;
  }
}

/* --------------ipad------------------- */

@media (min-height: 1000px) {
  .container {
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
    color: #fff;
    width: 40%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
  }
  .logo {
    margin-top: 13rem;
  }
}
